<!-- GET /albums -->

<html>
  <head></head>
  <body>
    <h1>Albums</h1>

    <div>
      <% @albums.each do |album| %>
        <p> Title: <%= album.title %>
        Released: <%= album.release_year %> </p>
        <a href="/album/<%= album.id %>" Go to the album page</a>
      <% end %>
    </div>
    
  </body>
</html>