<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <title>Artist added</title>
  </head>
  <body>
    <p>
      The artist <%=html_escape @new_artist.name %> has been added succesfully! 
    </p>
  </body>
</html>