<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8>
  <title>Add an album</title>
</head>
<body>
  <h1>Add an album</h1>

  <form action="/album" method="POST">
    <div>
      Enter the album's title: 
      <input type="text" name="title" />
    </div>

    <div>
      Enter the album's release year: 
      <input type="text" name="release_year" />
    </div>

    <div>
     Enter the artist's id: 
        <input type="text" name="artist_id" />
    </div>

    <input type="submit" />
  </form>
</body>
</html>