<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <title>Greeter app</title>
  </head>
  <body>
    <p>
      # html_escape escapes the value to prevent code injection
      Hi <%=html_escape @name %>! 
    </p>
  </body>
</html>